<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/login.html   11 Nov 2019 12:22:27 GMT -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Account &ndash; Belle Multipurpose Bootstrap 4 Template</title>
  <meta name="description" content="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.png" />
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="assets/css/plugins.css">
  <!-- Bootstap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Main Style CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

</head>

<body class="page-template belle">
  <div class="pageWrapper">
    <!--Search Form Drawer-->
    <div class="search">
      <div class="search__form">
        <form class="search-bar__form" action="#">
          <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
          <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..."
            aria-label="Search" autocomplete="off">
        </form>
        <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
      </div>
    </div>
    <!--End Search Form Drawer-->
    <!--Top Header-->

    <!--End Top Header-->
    <!--Header-->
    <div class="header-wrap animated d-flex">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!--Desktop Logo-->
          <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
            <a href="index.html">
              <img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template"
                title="Belle Multipurpose Html Template" />
            </a>
          </div>
          <!--End Desktop Logo-->
          <div class="col-2 col-sm-3 col-md-3 col-lg-8">
            <div class="d-block d-lg-none">
              <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                <i class="icon anm anm-times-l"></i>
                <i class="anm anm-bars-r"></i>
              </button>
            </div>
            <!--Desktop Menu-->
            <nav class="grid__item" id="AccessibleNav" role="navigation"><!-- for mobile -->
              <ul id="siteNav" class="site-nav medium center hidearrow">
                <li class="lvl1 parent megamenu"><a href="#">Home <i class="anm anm-angle-down-l"></i></a></li>
                <li class="lvl1 parent megamenu"><a href="#">Products <i class="anm anm-angle-down-l"></i></a></li>
                <li class="lvl1 parent dropdown"><a href="#">Contact Us <i class="anm anm-angle-down-l"></i></a></li>
                <li class="lvl1 parent dropdown"><a href="#"><i class="far fa-user-circle"></i> Account </a>
                  <ul class="dropdown">
                    <li><a href="blog-left-sidebar.html" class="site-nav"><i class="fas fa-sign-in-alt"></i> Log in</a>
                    </li>
                    <li><a href="blog-article.html" class="site-nav"><i class="fa fa-user"
                          aria-hidden="true"></i>&nbsp;Profile</a></li>
                    <li><a href="blog-fullwidth.html" class="site-nav"><i class="fas fa-shopping-cart"></i> Cart</a>
                    </li>
                    <li><a href="blog-grid-view.html" class="site-nav"><i class="fas fa-heart"></i> Wishlists</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <!--End Desktop Menu-->
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
            <div class="logo">
              <a href="index.html">
                <img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template"
                  title="Belle Multipurpose Html Template" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Header-->
    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
      <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
      <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1 parent megamenu"><a href="index.html">Home <i class="anm anm-plus-l"></i></a> </li>
        <li class="lvl1 parent megamenu"><a href="#">Products<i class="anm anm-plus-l"></i></a></li>
        <li class="lvl1 parent megamenu"><a href="product-layout-1.html">Contact Us<i class="anm anm-plus-l"></i></a></li>
        <li class="lvl1 parent megamenu"><a href="#"><i class="far fa-user-circle"></i> Account </a>
          <ul>
            <li><a href="blog-left-sidebar.html" class="site-nav"><i class="fas fa-sign-in-alt"></i> Log in</a>
            </li>
            <li><a href="blog-article.html" class="site-nav"><i class="fa fa-user"
                  aria-hidden="true"></i>&nbsp;Profile</a></li>
            <li><a href="blog-fullwidth.html" class="site-nav"><i class="fas fa-shopping-cart"></i> Cart</a>
            </li>
            <li><a href="blog-grid-view.html" class="site-nav"><i class="fas fa-heart"></i> Wishlists</a></li>
          </ul>
        </li>
        <li class="lvl1"><a href="#"><b>Buy Now!</b></a>
        </li>
      </ul>
    </div>
    <!--End Mobile Menu-->