<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/coming-soon.html   11 Nov 2019 12:45:12 GMT -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>wastra</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" href="/logoAndFevicon/wastra.png" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="/home/assets/css/plugins.css">
<!-- Bootstap CSS -->
<link rel="stylesheet" href="/home/assets/css/bootstrap.min.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="/home/assets/css/style.css">
<link rel="stylesheet" href="/home/assets/css/responsive.css">
</head>
<body class="page-template template-password belle">
<div class="pageWrapper">

    <!--Body Content-->
    <div id="page-content" class="shopify-section">        
        <div class="password-table">
            <div class="password-cell"></div>
            <div class="password-page password-cell	text-center">
                <div class="password-main text-center" role="main">
                    <div class="password-main__inner"> 
                        <!-- main content -->
                        {{!-- <a href="/">
                            <img src="/logoAndFevicon/originalLogo.png" alt="wastra online shopping"
                                title="wastra online shopping" />
                        </a> --}}
                         <img src="https://i.gifer.com/7efs.gif">
                        <h2 class="password__title"><b style="color:#265557">Your order has been successfully placed.</b></h2>
                        {{!-- <form method="post" action="#" id="contact_form" accept-charset="UTF-8" class="contact-form">
                          <p class="password__form-heading h4"> Follow us for update now! </p>
                          <div class="input-group password__input-group">
                            <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="Email address">
                            <span class="input-group__btn">
                            <button type="submit" name="commit" class="btn"> <span>Notify me</span> </button>
                            </span> </div>
                        </form> --}}
                        <button class="btn btn--narrow" style="background-color: #265557;"><a href="/shop_all_product" style="color:white;">CONTINUE SHOPPING</a></button>
                        <button class="btn btn--narrow"style="background-color: #265557;"><a href="/user_profile/" style="color:white;">VIEW PROFILE</a></button>
                       
                    
                    <!-- content end--> 
                    
                    </div>
            	</div>
                <div id="LoginModal" class="modal">
              <div class="modal__inner">
                <div class="modal__centered password-modal__content page-width text-center">
                  <p class="password__form-heading h4">Enter store using password</p>
                  <form method="post" action="http://annimexweb.com/password" id="login_form" accept-charset="UTF-8" class="storefront-password-form">
                    <input type="hidden" name="form_type" value="storefront_password">
                    <input type="hidden" name="utf8" value="✓">
                    <label class="label--hidden">Password</label>
                    <div class="input-group password__input-group">
                      <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="Your password">
                      <span class="input-group__btn">
                      <button type="submit" name="commit" class="btn btn--narrow">Enter</button>
                      </span> </div>
                  </form>
                  <p>Are you the store owner? <a href="http://annimexweb.com/admin" class="text-link">Log in here</a></p>
                </div>
              </div>
              <button type="button" class="modal__close js-modal-close text-link"> <i class="anm anm-times-l"></i> <span class="icon__fallback-text">"Close (esc)"</span> </button>
            </div>
            </div>
        </div>

    </div>
    <!--End Body Content-->
    
</div>
</body>

<!-- belle/coming-soon.html   11 Nov 2019 12:45:12 GMT -->
</html>