<!DOCTYPE html>
<html class="no-js" lang="en">

<!-- belle/register.html   11 Nov 2019 12:22:27 GMT -->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Account &ndash; Belle Multipurpose Bootstrap 4 Template</title>
	<meta name="description" content="description">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" href="/user_partial_login/assets/images/favicon.png" />
	<!-- Plugins CSS -->
	<link rel="stylesheet" href="/user_partial_login/assets/css/plugins.css">
	<!-- Bootstap CSS -->
	<link rel="stylesheet" href="/user_partial_login/assets/css/bootstrap.min.css">
	<!-- Main Style CSS -->
	<link rel="stylesheet" href="/user_partial_login/assets/css/style.css">
	<link rel="stylesheet" href="/user_partial_login/assets/css/responsive.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>

<body class="page-template belle">
	<div class="pageWrapper">
		<!--Search Form Drawer-->
		<div class="search">
			<div class="search__form">
				<form class="search-bar__form" action="#">
					<button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
					<input class="search__input" type="search" name="q" value="" placeholder="Search entire store..."
						aria-label="Search" autocomplete="off">
				</form>
				<button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
			</div>
		</div>
		<!--End Search Form Drawer-->
		<!--Top Header-->
		<!--End Top Header-->
		<!--Header-->
		<div class="header-wrap animated d-flex">
			<div class="container-fluid">
				<div class="row align-items-center">
					<!--Desktop Logo-->
					<div class="logo col-md-2 col-lg-2 d-none d-lg-block">
						<a href="index.html">
							<img src="/user_partial_login/assets/images/logo.svg" alt="Belle Multipurpose Html Template"
								title="Belle Multipurpose Html Template" />
						</a>
					</div>
					<!--End Desktop Logo-->
					<div class="col-2 col-sm-3 col-md-3 col-lg-8">
						<div class="d-block d-lg-none">
							<button type="button"
								class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
								<i class="icon anm anm-times-l"></i>
								<i class="anm anm-bars-r"></i>
							</button>
						</div>
						<!--Desktop Menu-->
						<nav class="grid__item" id="AccessibleNav" role="navigation"><!-- for mobile -->
							<ul id="siteNav" class="site-nav medium center hidearrow">
								<li class="lvl1 parent megamenu"><a href="/">Home <i
											class="anm anm-angle-down-l"></i></a></li>
								<li class="lvl1 parent megamenu"><a href="/shop_all_product">Products <i
											class="anm anm-angle-down-l"></i></a></li>
								<li class="lvl1 parent dropdown"><a href="#">Contact Us <i
											class="anm anm-angle-down-l"></i></a></li>
								<li class="lvl1 parent dropdown"><a href="#"><i class="far fa-user-circle"></i> Account
									</a>
									<ul class="dropdown">
										<li><a href="blog-left-sidebar.html" class="site-nav"><i
													class="fas fa-sign-in-alt"></i> Log in</a>
										</li>
										<li><a href="blog-article.html" class="site-nav"><i class="fa fa-user"
													aria-hidden="true"></i>&nbsp;Profile</a></li>
										<li><a href="blog-fullwidth.html" class="site-nav"><i
													class="fas fa-shopping-cart"></i> Cart</a>
										</li>
										<li><a href="blog-grid-view.html" class="site-nav"><i class="fas fa-heart"></i>
												Wishlists</a></li>
									</ul>
								</li>
							</ul>
						</nav>
						<!--End Desktop Menu-->
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
						<div class="logo">
							<a href="index.html">
								<img src="assets/images/logo.svg" alt="Belle Multipurpose Html Template"
									title="Belle Multipurpose Html Template" />
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--End Header-->
		<!--Mobile Menu-->
		<div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Wastra Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                {{#if user}}
                <li class="lvl1 parent megamenu"><a href="/logout"><i class="fas fa-sign-in-alt fa-rotate-180"></i> Logout</a></li>
                <li class="lvl1 parent megamenu"><a href="/user_profile"><i class="fa fa-user" aria-hidden="true"></i> profile </a>
                <li class="lvl1 parent megamenu"><a href="/wishlist"><i class="fas fa-heart"></i> Wish List </a>
                <li class="lvl1 parent megamenu"><a href="/cart?id={{userData._id}}"><i class="fas fa-shopping-cart"></i> Cart </a>
                <li class="lvl1 parent megamenu"><a href=""> <i class=" fas fa-thin fa-wallet"></i> wallet : {{userData.wallet}} </a>
                {{else}}
                <li class="lvl1 parent megamenu"><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                {{/if}}
                
            </ul>
        </div>
		<!--End Mobile Menu-->

		<!--Body Content-->
		<div id="page-content">
			<!--Page Title-->
			<div class="page section-header text-center">
				<div class="page-title">
					<div class="wrapper">
						<h1 class="page-width">Create an Account</h1>
					</div>
				</div>
			</div>
			<!--End Page Title-->

			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
						<div class="mb-4">
							<form method="post" action="/register" id="register" accept-charset="UTF-8"
								class="contact-form">
								<div class="row">
									<div class="col-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group">
											<label for="FirstName">Name</label>
											<input type="text" name="name" placeholder="" id="name" autofocus="">
										</div>
									</div>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group">
											<label for="LastName">Phone Number</label>
											<input type="text" name="mobile" placeholder="" id="mobile">
										</div>
									</div>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group">
											<label for="CustomerEmail">Email</label>
											<input type="email" name="email" placeholder="" id="email" class=""
												autocorrect="off" autocapitalize="off" autofocus="">
										</div>
									</div>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group">
											<label for="CustomerPassword">Password</label>
											<input type="password" value="" name="firstpassword" placeholder=""
												id="firstpassword" class="">
										</div>
									</div>
									<div class="col-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group">
											<label for="CustomerPassword">Confirm Password</label>
											<input type="password" value="" name="password" placeholder="" id="password"
												class="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
										<input type="submit" class="btn mb-3" value="Create">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--End Body Content-->

		<!--Footer-->
		<footer id="footer">
			<div class="newsletter-section">
				<div class="container">
					<div class="row">
						<div
							class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
							<div class="display-table">
								<div class="display-table-cell footer-newsletter">
									<div class="section-header text-center">
										<label class="h2"><span>sign up for </span>newsletter</label>
									</div>
									<form action="#" method="post">
										<div class="input-group">
											<input type="email" class="input-group__field newsletter__input"
												name="EMAIL" value="" placeholder="Email address" required="">
											<span class="input-group__btn">
												<button type="submit" class="btn newsletter__submit" name="commit"
													id="Subscribe"><span
														class="newsletter__submit-text--large">Subscribe</span></button>
											</span>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
							<div class="footer-social">
								<ul class="list--inline site-footer__social-icons social-icons">
									<li><a class="social-icons__link" href="#" target="_blank"
											title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i
												class="icon icon-facebook"></i></a></li>
									<li><a class="social-icons__link" href="#" target="_blank"
											title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i
												class="icon icon-twitter"></i> <span
												class="icon__fallback-text">Twitter</span></a></li>
									<li><a class="social-icons__link" href="#" target="_blank"
											title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i
												class="icon icon-pinterest"></i> <span
												class="icon__fallback-text">Pinterest</span></a></li>
									<li><a class="social-icons__link" href="#" target="_blank"
											title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i
												class="icon icon-instagram"></i> <span
												class="icon__fallback-text">Instagram</span></a></li>
									<li><a class="social-icons__link" href="#" target="_blank"
											title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i
												class="icon icon-tumblr-alt"></i> <span
												class="icon__fallback-text">Tumblr</span></a></li>
									<li><a class="social-icons__link" href="#" target="_blank"
											title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i
												class="icon icon-youtube"></i> <span
												class="icon__fallback-text">YouTube</span></a></li>
									<li><a class="social-icons__link" href="#" target="_blank"
											title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i
												class="icon icon-vimeo-alt"></i> <span
												class="icon__fallback-text">Vimeo</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="site-footer">
				<div class="container">
					<!--Footer Links-->
					<div class="footer-top">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
								<h4 class="h4">Quick Shop</h4>
								<ul>
									<li><a href="#">Women</a></li>
									<li><a href="#">Men</a></li>
									<li><a href="#">Kids</a></li>
									<li><a href="#">Sportswear</a></li>
									<li><a href="#">Sale</a></li>
								</ul>
							</div>
							<div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
								<h4 class="h4">Informations</h4>
								<ul>
									<li><a href="#">About us</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">Terms &amp; condition</a></li>
									<li><a href="#">My Account</a></li>
								</ul>
							</div>
							<div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
								<h4 class="h4">Customer Services</h4>
								<ul>
									<li><a href="#">Request Personal Data</a></li>
									<li><a href="#">FAQ's</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Support Center</a></li>
								</ul>
							</div>
							<div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
								<h4 class="h4">Contact Us</h4>
								<ul class="addressFooter">
									<li><i class="icon anm anm-map-marker-al"></i>
										<p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p>
									</li>
									<li class="phone"><i class="icon anm anm-phone-s"></i>
										<p>(440) 000 000 0000</p>
									</li>
									<li class="email"><i class="icon anm anm-envelope-l"></i>
										<p>sales@yousite.com</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--End Footer Links-->
					<hr>
					<div class="footer-bottom">
						<div class="row">
							<!--Footer Copyright-->
							<div
								class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
								<span></span> <a href="templateshub.net">Templates Hub</a>
							</div>
							<!--End Footer Copyright-->
							<!--Footer Payment Icon-->
							<div
								class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
								<ul class="payment-icons list--inline">
									<li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
									<li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
									<li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
									<li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
									<li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
									<li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
								</ul>
							</div>
							<!--End Footer Payment Icon-->
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--End Footer-->
		<!--Scoll Top-->
		<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
		<!--End Scoll Top-->
		
		<script>
			(function () {
				localStorage.setItem("countdown2", 90)
			}())
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
			integrity="sha512-GDl1TA2hb+BQ7Q7AxmIXm7mNlIBG5MmJ6OqKqzGMzjXm1aI3Je1u+R3dzVxfjNSz1m3oT8pL4X2bklYt53uJLQ=="
			crossorigin="anonymous"></script>

		<!-- icon script -->
		<!-- Including Jquery -->
		<script src="/user_partial_login/assets/js/vendor/jquery-3.3.1.min.js"></script>
		<script src="/user_partial_login/assets/js/vendor/jquery.cookie.js"></script>
		<script src="/user_partial_login/assets/js/vendor/modernizr-3.6.0.min.js"></script>
		<script src="/user_partial_login/assets/js/vendor/wow.min.js"></script>
		<!-- Including Javascript -->
		<script src="/user_partial_login/assets/js/bootstrap.min.js"></script>
		<script src="/user_partial_login/assets/js/plugins.js"></script>
		<script src="/user_partial_login/assets/js/popper.min.js"></script>
		<script src="/user_partial_login/assets/js/lazysizes.js"></script>
		<script src="/user_partial_login/assets/js/main.js"></script>
		
</body>

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/js/validate.js"></script>

<!-- belle/register.html   11 Nov 2019 12:22:27 GMT -->

</html>